.fac-page {
    background: #fff;
}


/* HERO */

.fac-hero {
    background: url("/stadium.png") center/cover no-repeat;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fac-hero-card {
    background: rgba(190, 160, 255, 0.45);
    backdrop-filter: blur(10px);
    padding: 50px 90px;
    border-radius: 26px;
    text-align: center;
    color: white;
}

.fac-hero-card h1 {
    font-size: 34px;
}


/* BODY */

.fac-body {
    padding: 70px 120px;
}

.fac-row {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}

.fac-row.reverse {
    flex-direction: row-reverse;
}

.fac-text {
    flex: 1;
}

.fac-text.center {
    text-align: center;
}

.fac-text h3 {
    margin-bottom: 20px;
}

.fac-text p {
    line-height: 1.8;
    color: #444;
}

.fac-img {
    width: 360px;
    border-radius: 22px;
    object-fit: cover;
}